<div class="wrapper">
  <div class="aboutMe" id="about">
    <h1 class="cap tcenter section">About</h1>

    <div class="container center-main">
      <div class="row large-bootstrap-show">
        <div class="col-sm-2 col">
          <center class="higherZindex">
            <div class="pointer firstPointer">
              <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="PCC School" class="logos school invertColor">
            </div>
          </center>
          <div class="tcenter">
            <h3><br>PCC</h3>
            <p>Associates<br>Web Design</p>
          </div>
        </div>
        <div class="col-sm-2 col">
          <center>
            <div class="pointer">
              <img src="http://devlions.com/images/lionhead_nav_white.png" alt="Dev Lions" class="logos lion">
            </div>
          </center>
          <div class="tcenter">
            <h3><br>Dev Lions</h3>
            <p>Web<br>Designer</p>
          </div>
        </div>
        <div class="col-sm-2 col">
          <center>
            <div class="pointer">
              <img src="https://s3.amazonaws.com/access_resources/production/evanta.com/evanta_gartner_logo_blue.png" alt="evanta" class="logos evanta invertColor">
            </div>
          </center>
          <div class="tcenter">
            <h3><br>Evanta</h3>
            <p>Email<br>Marketer</p>
          </div>
        </div>
        <div class="col-sm-2 col">
          <center>
            <div class="pointer">
              <img src="https://res.cloudinary.com/dewpk7tiu/image/upload/v1494014795/logo_type-Black_hxc3c7.png" alt="Evanta" class="logos thedyrt">
            </div>
          </center>
          <div class="tcenter">
            <h3><br>The Dyrt</h3>
            <p>Email<br>Marketer</p>
          </div>
        </div>
        <div class="col-sm-2 col">
          <center>
            <div class="pointer">
              <img src="http://d3nfup1w0158x.cloudfront.net/media/W1siZiIsIjU1MGFkYjZiLTEyMzQ2My1pbWFnZS1ydW5hbXpfdHJhbnNwYXJlbnQtd2hpdGUtdGV4dC5wbmciXV0/runamz_transparent-white-text.png" alt="Run Amz" class="logos invertColor thedyrt">
            </div>
          </center>
          <div class="tcenter">
            <h3><br>Run Amz</h3>
            <p>Amazon<br>Specialist</p>
          </div>
        </div>
        <div class="col-sm-2 col">
          <center>
            <div class="pointer">
              <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="Epicodus" class="logos school2 invertColor">
            </div>
          </center>
          <div class="tcenter">
            <h3><br>Epicodus</h3>
            <p>Web<br>Development</p>
          </div>
        </div>
      </div>

      <div class="temporary-bootstrap-weird-resize-fix">
        <div class="row">
          <div class="col-xs-4 col">
            <center class="higherZindex">
              <div class="pointer firstPointer">
                <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="PCC School" class="logos school invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>PCC</h3>
              <p>Associates<br>Web Design</p>
            </div>
          </div>
          <div class="col-xs-4 col">
            <center>
              <div class="pointer">
                <img src="http://devlions.com/images/lionhead_nav_white.png" alt="Dev Lions" class="logos lion">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Dev Lions</h3>
              <p>Web<br>Designer</p>
            </div>
          </div>
          <div class="col-xs-4 col">
            <center>
              <div class="pointer">
                <img src="https://s3.amazonaws.com/access_resources/production/evanta.com/evanta_gartner_logo_blue.png" alt="evanta" class="logos evanta invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Evanta</h3>
              <p>Email<br>Marketer</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col">
            <center>
              <div class="pointer">
                <img src="https://res.cloudinary.com/dewpk7tiu/image/upload/v1494014795/logo_type-Black_hxc3c7.png" alt="Evanta" class="logos thedyrt">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>The Dyrt</h3>
              <p>Email<br>Marketer</p>
            </div>
          </div>
          <div class="col-xs-4 col">
            <center>
              <div class="pointer">
                <img src="http://d3nfup1w0158x.cloudfront.net/media/W1siZiIsIjU1MGFkYjZiLTEyMzQ2My1pbWFnZS1ydW5hbXpfdHJhbnNwYXJlbnQtd2hpdGUtdGV4dC5wbmciXV0/runamz_transparent-white-text.png" alt="Run Amz" class="logos invertColor thedyrt">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Run Amz</h3>
              <p>Amazon<br>Specialist</p>
            </div>
          </div>
          <div class="col-xs-4 col">
            <center>
              <div class="pointer">
                <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="Epicodus" class="logos school2 invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Epicodus</h3>
              <p>Web<br>Development</p>
            </div>
          </div>
        </div>

      </div><!---->

      <div class="temporary-bootstrap-weird-resize-fix-600">
        <div class="row">
          <div class="col-xs-6 col">
            <center class="higherZindex">
              <div class="pointer firstPointer">
                <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="PCC School" class="logos school invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>PCC</h3>
              <p>Associates<br>Web Design</p>
            </div>
          </div>
          <div class="col-xs-6 col">
            <center>
              <div class="pointer">
                <img src="http://devlions.com/images/lionhead_nav_white.png" alt="Dev Lions" class="logos lion">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Dev Lions</h3>
              <p>Web<br>Designer</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col">
            <center>
              <div class="pointer">
                <img src="https://s3.amazonaws.com/access_resources/production/evanta.com/evanta_gartner_logo_blue.png" alt="evanta" class="logos evanta invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Evanta</h3>
              <p>Email<br>Marketer</p>
            </div>
          </div>
          <div class="col-xs-6 col">
            <center>
              <div class="pointer">
                <img src="https://res.cloudinary.com/dewpk7tiu/image/upload/v1494014795/logo_type-Black_hxc3c7.png" alt="" class="logos thedyrt invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>The Dyrt</h3>
              <p>Email<br>Marketer</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col">
            <center>
              <div class="pointer">
                <img src="http://d3nfup1w0158x.cloudfront.net/media/W1siZiIsIjU1MGFkYjZiLTEyMzQ2My1pbWFnZS1ydW5hbXpfdHJhbnNwYXJlbnQtd2hpdGUtdGV4dC5wbmciXV0/runamz_transparent-white-text.png" alt="Run Amz" class="logos invertColor thedyrt">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Run Amz</h3>
              <p>Amazon<br>Specialist</p>
            </div>
          </div>
          <div class="col-xs-6 col">
            <center>
              <div class="pointer">
                <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="Epicodus" class="logos school2 invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Epicodus</h3>
              <p>Web<br>Development</p>
            </div>
          </div>
        </div>

      </div><!---->

      <!--Your current interests/hobbies/skills.-->
      <div class="spacer45"></div>
      <div class="row items-hobbies">
          <div class="col noPadding">
            <img src="http://freevector.co/wp-content/uploads/2014/05/69038-web-development.png" alt="web development" class="webDev">
            <div class="below-icon1 tcenter"><strong>Web Design &amp; Development</strong></div>
            <img src="http://freevector.co/wp-content/uploads/2014/01/amazon-icon-400x364.png" alt="amazon" class="amzLogo">
            <div class="below-icon3 tcenter"><strong>Amazon Management</strong></div>
          </div>
          <div class="col noPadding">
            <div class="container" style="width:100%;">
              <img src="/assets/img/me.png" alt="Logan Tanous" class="img-responsive myPhoto">
            </div>
          </div>
          <div class="col noPadding">
            <img src="http://freevector.co/wp-content/uploads/2009/05/58970-new-email-closed-outlined-envelope-back.png" alt="email marketing" class="emailMarketing">
            <div class="below-icon2 tcenter"><strong>Digital Strategy</strong></div>
            <img src="http://freevector.co/wp-content/uploads/2012/10/80042-ping-pong-racket.png" alt="ping pong" class="pingPong">
            <div class="below-icon4 tcenter"><strong>Pong Master</strong></div>
          </div>
      </div>
      <div class="row">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col"></div>
      </div>
      <div class="spacer45"></div>
    </div>
  </div>

  <!--Include a brief description of the project and what languages it uses.-->
  <div class="midsection">
    <h1 class="cap tcenter section" id="projects" >Projects</h1>
    <div class="spacer100"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 proj1 proj">
          <a href="https://github.com/logantanous/animalshelter"><img src="img/proj1.png" alt="animal shelter"></a>
        </div>
        <div class="col-sm-4 proj2 proj">
          <a href="https://github.com/logantanous/resort"><img src="img/proj2.png" alt="Resort" class="resort"></a>
        </div>
        <div class="col-sm-4 proj3 proj">
          <a href="https://github.com/logantanous/media-query-practice"><img src="img/proj3.png" alt="media query test"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="tcenter white">Bootstrap site<br>Utilizes </p>
          <ol class="white">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javscript</li>
          </ol>
        </div>
        <div class="col-sm-4">
          <p class="tcenter white">Bootstrap site<br>Utilizes</p>
          <ol class="white">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javscript</li>
          </ol>
        </div>
        <div class="col-sm-4">
          <p class="tcenter white">Early Website for learning media queries<br>Utilizes</p>
          <ol class="white">
            <li>HTML</li>
            <li>CSS</li>
            <li>Media Queries</li>
          </ol>
        </div>
      </div>
    </div>

  </div>

  <!--if you get time-->

  <!--<div class="container">
    <h1 class="cap tcenter section">About</h1>
  </div>-->

  <footer>
    <p class="cap tcenter">Logan Tanous <span class="specialColor"><em>&copy;2018</em></span></p>
  </footer>

</div><!--End of main wrapper-->

<h1>Pictures</h1>

<ul>
  <% @pictures.each do |picture| %>
    <li><%=picture.title %>
    <br>
    <a href="<%=picture_path(picture)%>"><%= image_tag picture.picture.url, style: 'height:auto;width:70%;' %> </a></li>

  <% end %>
</ul>

<hr>

<%= link_to "New Picture", new_picture_path %>
