<div class="container">
  <div class="wrapper">
    <div class="aboutMe" id="about">
      <h1 class="cap tcenter section">About</h1>

      <div class="container center-main">
        <div class="row icons-fix large-bootstrap-show">
          <div class="col-sm-2 col">
            <center class="higherZindex">
              <div class="pointer firstPointer">
                <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="PCC School" class="logos school invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>PCC</h3>
              <p>Associates<br>Web Design</p>
            </div>
          </div>
          <div class="col-sm-2 col">
            <center>
              <div class="pointer">
                <img src="http://devlions.com/images/lionhead_nav_white.png" alt="Dev Lions" class="logos lion">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Dev Lions</h3>
              <p>Web<br>Designer</p>
            </div>
          </div>
          <div class="col-sm-2 col">
            <center>
              <div class="pointer">
                <img src="https://s3.amazonaws.com/access_resources/production/evanta.com/evanta_gartner_logo_blue.png" alt="evanta" class="logos evanta invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Evanta</h3>
              <p>Email<br>Marketer</p>
            </div>
          </div>
          <div class="col-sm-2 col">
            <center>
              <div class="pointer">
                <img src="https://res.cloudinary.com/dewpk7tiu/image/upload/v1494014795/logo_type-Black_hxc3c7.png" alt="Evanta" class="logos thedyrt">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>The Dyrt</h3>
              <p>Email<br>Marketer</p>
            </div>
          </div>
          <div class="col-sm-2 col">
            <center>
              <div class="pointer">
                <img src="http://d3nfup1w0158x.cloudfront.net/media/W1siZiIsIjU1MGFkYjZiLTEyMzQ2My1pbWFnZS1ydW5hbXpfdHJhbnNwYXJlbnQtd2hpdGUtdGV4dC5wbmciXV0/runamz_transparent-white-text.png" alt="Run Amz" class="logos invertColor thedyrt">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Run Amz</h3>
              <p>Amazon<br>Specialist</p>
            </div>
          </div>
          <div class="col-sm-2 col">
            <center>
              <div class="pointer">
                <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="Epicodus" class="logos school2 invertColor">
              </div>
            </center>
            <div class="tcenter">
              <h3><br>Epicodus</h3>
              <p>Web<br>Development</p>
            </div>
          </div>
        </div>

        <div class="icons-fix temporary-bootstrap-weird-resize-fix">
          <div class="row">
            <div class="col-xs-4 col">
              <center class="higherZindex">
                <div class="pointer firstPointer">
                  <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="PCC School" class="logos school invertColor">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>PCC</h3>
                <p>Associates<br>Web Design</p>
              </div>
            </div>
            <div class="col-xs-4 col">
              <center>
                <div class="pointer">
                  <img src="http://devlions.com/images/lionhead_nav_white.png" alt="Dev Lions" class="logos lion">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Dev Lions</h3>
                <p>Web<br>Designer</p>
              </div>
            </div>
            <div class="col-xs-4 col">
              <center>
                <div class="pointer">
                  <img src="https://s3.amazonaws.com/access_resources/production/evanta.com/evanta_gartner_logo_blue.png" alt="evanta" class="logos evanta invertColor">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Evanta</h3>
                <p>Email<br>Marketer</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col">
              <center>
                <div class="pointer">
                  <img src="https://res.cloudinary.com/dewpk7tiu/image/upload/v1494014795/logo_type-Black_hxc3c7.png" alt="Evanta" class="logos thedyrt">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>The Dyrt</h3>
                <p>Email<br>Marketer</p>
              </div>
            </div>
            <div class="col-xs-4 col">
              <center>
                <div class="pointer">
                  <img src="http://d3nfup1w0158x.cloudfront.net/media/W1siZiIsIjU1MGFkYjZiLTEyMzQ2My1pbWFnZS1ydW5hbXpfdHJhbnNwYXJlbnQtd2hpdGUtdGV4dC5wbmciXV0/runamz_transparent-white-text.png" alt="Run Amz" class="logos invertColor thedyrt">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Run Amz</h3>
                <p>Amazon<br>Specialist</p>
              </div>
            </div>
            <div class="col-xs-4 col">
              <center>
                <div class="pointer">
                  <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="Epicodus" class="logos school2 invertColor">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Epicodus</h3>
                <p>Web<br>Development</p>
              </div>
            </div>
          </div>

        </div><!---->

        <div class="icons-fix temporary-bootstrap-weird-resize-fix-600">
          <div class="row">
            <div class="col-xs-6 col">
              <center class="higherZindex">
                <div class="pointer firstPointer">
                  <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="PCC School" class="logos school invertColor">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>PCC</h3>
                <p>Associates<br>Web Design</p>
              </div>
            </div>
            <div class="col-xs-6 col">
              <center>
                <div class="pointer">
                  <img src="http://devlions.com/images/lionhead_nav_white.png" alt="Dev Lions" class="logos lion">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Dev Lions</h3>
                <p>Web<br>Designer</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col">
              <center>
                <div class="pointer">
                  <img src="https://s3.amazonaws.com/access_resources/production/evanta.com/evanta_gartner_logo_blue.png" alt="evanta" class="logos evanta invertColor">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Evanta</h3>
                <p>Email<br>Marketer</p>
              </div>
            </div>
            <div class="col-xs-6 col">
              <center>
                <div class="pointer">
                  <img src="https://res.cloudinary.com/dewpk7tiu/image/upload/v1494014795/logo_type-Black_hxc3c7.png" alt="" class="logos thedyrt invertColor">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>The Dyrt</h3>
                <p>Email<br>Marketer</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col">
              <center>
                <div class="pointer">
                  <img src="http://d3nfup1w0158x.cloudfront.net/media/W1siZiIsIjU1MGFkYjZiLTEyMzQ2My1pbWFnZS1ydW5hbXpfdHJhbnNwYXJlbnQtd2hpdGUtdGV4dC5wbmciXV0/runamz_transparent-white-text.png" alt="Run Amz" class="logos invertColor thedyrt">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Run Amz</h3>
                <p>Amazon<br>Specialist</p>
              </div>
            </div>
            <div class="col-xs-6 col">
              <center>
                <div class="pointer">
                  <img src="http://freevector.co/wp-content/uploads/2010/08/78584-school-building-with-flag.png" alt="Epicodus" class="logos school2 invertColor">
                </div>
              </center>
              <div class="tcenter">
                <h3><br>Epicodus</h3>
                <p>Web<br>Development</p>
              </div>
            </div>
          </div>

        </div><!---->

        <!--Your current interests/hobbies/skills.-->
        <div class="spacer45"></div>
        <center class="row items-hobbies">
          <div class="col noPadding">
            <img src="http://freevector.co/wp-content/uploads/2014/05/69038-web-development.png" alt="web development" class="webDev">
            <div class="below-icon1 tcenter"><strong>Web Design &amp; Development</strong></div>
            <img src="http://freevector.co/wp-content/uploads/2014/01/amazon-icon-400x364.png" alt="amazon" class="amzLogo">
            <div class="below-icon3 tcenter"><strong>Amazon Management</strong></div>
          </div>
          <div class="col noPadding">
            <div class="container" style="width:100%;">
              <center>
                <img src="https://raw.githubusercontent.com/logmannn/Rails-Authentication-Independent-Project/master/app/assets/img/me.png" alt="Logan Tanous" class="img-responsive myPhoto">
              </center>
            </div>
          </div>
          <div class="col noPadding">
            <img src="http://freevector.co/wp-content/uploads/2009/05/58970-new-email-closed-outlined-envelope-back.png" alt="email marketing" class="emailMarketing">
            <div class="below-icon2 tcenter"><strong>Digital Strategy</strong></div>
            <img src="http://freevector.co/wp-content/uploads/2012/10/80042-ping-pong-racket.png" alt="ping pong" class="pingPong">
            <div class="below-icon4 tcenter"><strong>Pong Master</strong></div>
          </div>
        </center>
        <center class="row items-hobbies2">
          <div class="container" style="width:100%;">
            <div class="row">
              <div class="col-xs-6">
                <img src="http://freevector.co/wp-content/uploads/2009/05/58970-new-email-closed-outlined-envelope-back.png" alt="email marketing" class="emailMarketing2">
                <div class=""><strong>Digital Strategy</strong></div>
              </div>
              <div class="col-xs-6">
                <img src="http://freevector.co/wp-content/uploads/2014/05/69038-web-development.png" alt="web development" class="emailMarketing2"><br>
                <div class=""><strong>Web Design &amp;<br> Development</strong></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <img src="http://freevector.co/wp-content/uploads/2012/10/80042-ping-pong-racket.png" alt="ping pong" class="emailMarketing2">
                <div class=""><strong>Pong Master</strong></div>
              </div>
              <div class="col-xs-6">
                <img src="http://freevector.co/wp-content/uploads/2014/01/amazon-icon-400x364.png" alt="amazon" class="emailMarketing2">
                <div class=""><strong>Amazon Management</strong></div>
              </div>
            </div>
          </div>
        </center>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col"></div>
        </div>
        <div class="spacer45"></div>
      </div>
    </div>


  </div><!--End of main wrapper-->
</div>

<!--Include a brief description of the project and what languages it uses.-->
<div class="midsection">
  <h1 class="cap tcenter section" id="projects" >Featured Projects</h1>
  <div class="spacer100"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 proj1 proj">
        <h3 class="tcenter">r/Place Clone</h3>
        <a href="https://github.com/logmannn/place"><img src="https://raw.githubusercontent.com/logmannn/Rails-Authentication-Independent-Project/master/app/assets/img/place_clone.png" alt="Place Clone"></a>
        <p>A website that clones Reddit's April Fools joke from 2017. This project allows for users to sign in and click on squares and draw whatever they want.<br>Coming soon: Time delays on clicks, Login changes.</p>
        <p>Built using: Angular2 and canvas</p>
      </div>
      <div class="col-sm-4 proj2 proj">
        <h3 class="tcenter">Jobba the Hunt</h3>
        <a href="https://github.com/logmannn/job_scraping"><img src="https://raw.githubusercontent.com/logmannn/Rails-Authentication-Independent-Project/master/app/assets/img/jobba_the_hunt.png" alt="Jobba the Hunt" class="resort"></a>
        <p>Scraping site that scrapes indeed based on whatever specifics you give for the site to search.
        <br>Coming soon: Re-implement Craigslist</p>
        <p>Built using: Ruby</p>
      </div>
      <div class="col-sm-4 proj3 proj">
        <h3 class="tcenter">Helios</h3>
        <a href="https://github.com/logmannn/Helios"><img src="https://raw.githubusercontent.com/logmannn/Rails-Authentication-Independent-Project/master/app/assets/img/helios.png" alt="Helios"></a>
        <p>A site created as a basic RPG with side scrolling, top down view with shooting and AIs that chase you and interacting with items like doors or NPCs.</p>
        <p>Built using: JavaScript</p>
        <p>
      </div>
    </div>
    <center class="row">
      <div class="col-md-12 githublink">
        <i><a href="https://github.com/logmannn">https://github.com/logmannn</a></i>
      </div>
    </center>
  </div>

</div>

<!--if you get time-->

<!--<div class="container">
  <h1 class="cap tcenter section">About</h1>
</div>-->

<div class="container">

  <h1 class="cap tcenter section" id="projects" >Blog</h1>

  <ul>
    <% @pictures.each do |picture| %>
      <li><%=picture.title %>
      <br>
      <a href="<%=picture_path(picture)%>"><%= image_tag picture.picture.url, style: 'height:auto;width:70%;' %> </a></li>

    <% end %>
  </ul>

  <hr>

  <%= link_to "New Picture", new_picture_path %>

</container>

<footer>
  <p class="cap tcenter">Logan Tanous <span class="specialColor"><em>&copy;2018</em></span></p>
</footer>
