
<h1>Pictures</h1>

<ul>
  <% @pictures.each do |picture| %>
    <li><%=picture.title %>
    <br>
    <a href="<%=picture_path(picture)%>"><%= image_tag picture.picture.url, style: 'height:auto;width:70%;' %> </a></li>

  <% end %>
</ul>

<hr>

<%= link_to "New Picture", new_picture_path %>
